-- Webhook deduplication table for ManyChat (no Redis required)
create table if not exists public.webhook_dedupe (
    id bigint generated by default as identity primary key,
    dedupe_key text not null unique,
    processed_at timestamptz not null default now(),
    expires_at timestamptz not null,
    
    -- Index for fast lookups
    constraint webhook_dedupe_expires_at_check check (expires_at > processed_at)
);

-- Index for cleanup queries
create index if not exists idx_webhook_dedupe_expires_at on public.webhook_dedupe using btree (expires_at);

-- Index for existence checks (dedupe_key lookup is already unique)
create index if not exists idx_webhook_dedupe_processed_at on public.webhook_dedupe using btree (processed_at);

-- Updated at trigger (for consistency with other tables)
create trigger trg_webhook_dedupe_updated_at
    before update on public.webhook_dedupe
    for each row
    execute function update_updated_at_column();

-- Function to cleanup expired entries
create or replace function cleanup_expired_webhook_dedupe()
returns integer
language plpgsql
as $$
declare
    deleted_count integer;
begin
    delete from public.webhook_dedupe
    where expires_at < now();
    
    get diagnostics deleted_count = row_count;
    
    return deleted_count;
end;
$$;

-- Grant permissions
grant usage on schema public to anon, authenticated;
grant select, insert, delete on public.webhook_dedupe to anon, authenticated;
grant usage, select on all sequences in schema public to anon, authenticated;
